@page "/forgotPassword"
@model PRN_MANGA_PROJECT.Pages.Auth.ForgotPasswordModel
@{
}

<form method="post">

	<div>
		<label>Enter your email</label>

		<input type="text" asp-for="Input.Email" />
		<span asp-validation-for="Input.Email" class="text-danger"></span>
	</div>
	<div asp-validation-summary="ModelOnly" class="text-danger"></div>

	<button type="submit">Send request</button>

</form>
