@page "/RegisterConfirmation"
@model PRN_MANGA_PROJECT.Pages.Auth.RegisterConfirmationModel
@{
}
<h2>Đăng ký thành công </h2>
<p>
	Chúng tôi đã gửi email xác nhận.
	Vui lòng kiểm tra hộp thư để kích hoạt tài khoản.
</p>