@page "/RegisterConfirmation"
@model PRN_MANGA_PROJECT.Pages.Auth.RegisterConfirmationModel
@{
}
<h2>Registration Successful</h2>
<p>
	We have sent a confirmation email.

	Please check your inbox to activate your account.
</p>